<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  "
>
  <h1 class="h2">Agenda</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-lg btn-outline-dark dropdown-toggle">
      <span data-feather="calendar" class="align-text-bottom"></span>
      Todos
    </button>
  </div>
</div>
<!--
  DROPDOWN DE FILTROS
<ul
  class="
    dropdown-menu
    position-static
    d-grid
    gap-1
    p-2
    rounded-3
    mx-0
    shadow
    w-220px
  "
>
  <li><a class="dropdown-item rounded-2 active" href="#">Todos</a></li>
  <li><a class="dropdown-item rounded-2" href="#">Hoje</a></li>
  <li><a class="dropdown-item rounded-2" href="#">Semana Atual</a></li>
  <li><a class="dropdown-item rounded-2" href="#">Mês Atual</a></li>
</ul>
-->
