<div class="text-center conteudo">
  <div class="row align-items-center">
    <div class="col align-self-center">
      <form class="form-signin m-auto">
        <img class="mb-4" src="..." alt="Logo VidaPet" width="72" height="72" />
        <h1 class="h3 mb-3 fw-normal">Entre com sua conta</h1>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="nome@exemplo.com"
          />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Senha"
          />
          <label for="floatingPassword">Senha</label>
        </div>
        <button class="w-100 btn btn-lg" type="submit">Entrar</button>
        <p class="mt-3 mb-3 text-muted">&copy; Copyright 2022 - VidaPet</p>
      </form>
    </div>
    <div class="col align-self-start">
      <img
        src="https://images.pexels.com/photos/10096129/pexels-photo-10096129.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="figure-img img-fluid rounded"
        alt="Imagem de Fundo"
      />
    </div>
  </div>
</div>
