<div class="position-sticky pt-3 sidebar-sticky">
  <ul class="nav flex-column text-center">
    <div class="nav flex-column text-center">
      <div class="text-center">
        <img
          src="https://img2.gratispng.com/20180802/xaw/kisspng-clip-art-portable-network-graphics-computer-icons-user-staff-person-man-profile-boss-circle-svg-png-5b62ed560cb369.529707841533209942052.jpg"
          class="rounded"
          alt="Foto do Administrador"
          width="100px"
        />
      </div>
      <p>Nome do usuário</p>
    </div>
  </ul>
  <ul class="nav flex-column text-center">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="align-text-bottom"></span>
        {{ primeiroItemMenu }}
      </a>
    </li>
    <li *ngIf="exibirItemServicos" class="nav-item exibirItemServiços">
      <a class="nav-link" href="#">
        <span class="align-text-bottom"></span>
        Serviços da Clínica
      </a>
    </li>
    <li *ngIf="exibirItemAdms" class="nav-item exibirItemAdms">
      <a class="nav-link" href="#">
        <span class="align-text-bottom"></span>
        Administradores
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="align-text-bottom"></span>
        Sair
      </a>
    </li>
  </ul>
</div>
