<div class="position-sticky pt-3 sidebar-sticky">
  <ul class="nav flex-column text-center">
    <div class="nav flex-column text-center">
      <div class="text-center">
        <img
          src="https://img2.gratispng.com/20180802/xaw/kisspng-clip-art-portable-network-graphics-computer-icons-user-staff-person-man-profile-boss-circle-svg-png-5b62ed560cb369.529707841533209942052.jpg"
          class="rounded"
          alt="Foto do Administrador"
          width="100px"
        />
      </div>
      <p>Nome do usuário</p>
    </div>
  </ul>
  <ul class="nav flex-column text-center">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="home" class="align-text-bottom"></span>
        Clientes (tutores)
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="file" class="align-text-bottom"></span>
        Serviços da Clínica
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="shopping-cart" class="align-text-bottom"></span>
        Administradores
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="users" class="align-text-bottom"></span>
        Sair
      </a>
    </li>
  </ul>
</div>
